@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #111922;
    --foreground: #979797;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: #ffffff;
    --card-foreground: #18232e;

    --primary: #15304f;
    --primary-foreground: #fff;

    --secondary: #19232f;
    --secondary-foreground: #f8f8f8;

    --accent: #243140;
    --accent-foreground: #f8f8f8;

    --destructive: #d00000;
    --destructive-foreground: #ffffff;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #19303d;
    --foreground: #d9d9d9;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: #ffffff;
    --card-foreground: #18232e;

    --primary: #18232e;
    --primary-foreground: #cfd3d7;

    --secondary: #202f3f;
    --secondary-foreground: #f8f8f8;

    --accent: #18232e;
    --accent-foreground: #f8f8f8;

    --destructive: #df0404;
    --destructive-foreground: #ffffff;

    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
